@font-face{
    font-family:'SnowKei' ;  /* 字体名自定义即可 */
    src:url('/fonts/Snow-Kei-2.ttf'); /* 字体文件路径 */
    font-display : swap;
  }
  
  h1#site-title {
    font-family: 'SnowKei', sans-serif;
  }